providers:
  kubernetesIngress:
    enabled: true
    ingressClass: traefik
  kubernetesIngressNginx:
    enabled: false

service:
  type: LoadBalancer
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: nlb

