{
  "region": "us-east-1",
  "use1_region": "us-east-1",
  "tags": {
    "Project": "my-product",
    "Environment": "dev"
  },
  "settings_bucket": {
    "enabled": true,
    "name": "<unique-settings-bucket-name>",
    "force_destroy": true,
    "kms_key_arn": null,
    "tags": {}
  },
  "app_ebs": {
    "enabled": true,
    "availability_zone": null,
    "size_gb": 5,
    "type": "gp3",
    "iops": null,
    "throughput": null,
    "encrypted": true,
    "kms_key_id": null,
    "tags": {}
  },
  "platform_deployer": {
    "enabled": false,
    "image_uri": "<image-uri>",
    "cpu": 1024,
    "memory": 2048,
    "settings_key": null,
    "environment": {},
    "secret_arns": {}
  },
  "profisee_deploy": {
    "enabled": true,
    "environment": {
      "RUNTIME_SQL_MODE": "rds_dbadmin"
    },
    "secret_arns": {}
  },
    "app_deploy": {
        "enabled": true,
        "release_name": "profiseeplatform",
        "namespace": "profisee"
      },
  "vpc": {
    "name": "my-product",
    "cidr_block": "10.20.0.0/16",
    "azs": [
      "us-east-1a",
      "us-east-1b",
      "us-east-1c"
    ],
    "public_subnet_cidrs": [
      "10.20.0.0/20",
      "10.20.16.0/20",
      "10.20.32.0/20"
    ],
    "private_subnet_cidrs": [
      "10.20.64.0/20",
      "10.20.80.0/20",
      "10.20.96.0/20"
    ]
  },
  "eks": {
    "cluster_name": "my-product-eks",
    "cluster_version": "1.29",
    "endpoint_public_access": false,
    "endpoint_private_access": true,
    "linux_node_group": {
      "instance_types": [
        "m6i.large"
      ],
      "min_size": 2,
      "max_size": 4,
      "desired_size": 2
    },
    "windows_node_group": {
      "instance_types": [
        "m6i.large"
      ],
      "min_size": 1,
      "max_size": 2,
      "desired_size": 1
    }
  },
  "rds_sqlserver": {
    "identifier": "my-product-sql",
    "engine_version": "<sqlserver-version>",
    "instance_class": "db.m6i.large",
    "allocated_storage": 200,
    "db_name": "Profisee",
    "master_username": "dbadmin",
    "publicly_accessible": false
  },
  "kms": {
    "keys": {}
  },
  "secrets": {
    "secrets": {}
  },
  "acm": {
    "domain_name": "app.example.com",
    "hosted_zone_id": "Z1234567890ABC"
  },
  "cloudfront": {
    "enabled": true,
    "aliases": [
      "app.example.com"
    ],
    "origin_domain_name": null,
    "origin_custom_headers": {}
  },
  "route53": {
    "enabled": true,
    "hosted_zone_id": "Z1234567890ABC",
    "record_name": "app.example.com"
  },
  "jumpbox": {
    "enabled": false,
    "instance_type": "m6i.large",
    "key_name": null,
    "associate_public_ip": false,
    "enable_rdp_ingress": false,
    "allowed_rdp_cidrs": [],
    "iam_policy_arns": [],
    "assume_role_arn": "arn:aws:iam::<ACCOUNT_ID>:role/opentofu-deploy"
  }
}

